albums.items.album_type
albums.items.artists[0].external_urls.spotify
albums.items.artists[0].href
albums.items.artists[0].id
albums.items.artists[0].name
albums.items.artists[0].type
albums.items.artists[0].uri
albums.items.available_markets[0]
albums.items.external_urls.spotify
albums.items.href
albums.items.id
albums.items.images[0].height
albums.items.images[0].url
albums.items.images[0].width
albums.items.name
albums.items.release_date
albums.items.release_date_precision
albums.items.total_tracks
albums.items.type
albums.items.uri
albums.href
albums.limit
albums.next
albums.offset
albums.previous
albums.total																																																							