<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>years | broken record</title>
  <script src="https://kit.fontawesome.com/a57f5fccbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap" 
    rel="stylesheet">
    <link rel="icon" href="https://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2022-04-08/7bca850bbff15ef43ff8dab9811fdfa8.ico.png">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/years.css">
</head>
<body id="yearsbody">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">broken record</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <div id="nav-dropdowns">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            discovery
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/years">years</a>
            <a class="dropdown-item" href="/discover">genres</a>
            <a class="dropdown-item" href="/sos">sounds of spotify</a>
            <a class="dropdown-item" href="/top-albums">top albums</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            andy's corner
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/albums">andy's ratings</a>
            <a class="dropdown-item" href="/favartists">andy's favorites</a>
            <a class="dropdown-item" href="/playalot">andy's big playlist</a>
            <a class="dropdown-item" href="/my-list">andy's list</a>

            <a class="dropdown-item" href="/brookfield">brookfield corp</a>
              <a class="dropdown-item" href="/sundial">sundial</a>
          </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}'s stuff
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/messages">inbox</a>
              <a class="dropdown-item" href="/ratings/{{user.id}}">my ratings</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              replay
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/replay/2015">2015</a>
              <a class="dropdown-item" href="/replay/2016">2016</a>
              <a class="dropdown-item" href="/replay/2017">2017</a>
              <a class="dropdown-item" href="/replay/2018">2018</a>
              <a class="dropdown-item" href="/replay/2019">2019</a>
              <a class="dropdown-item" href="/replay/2020">2020</a>
              <a class="dropdown-item" href="/replay/2021">2021</a>
            </div>
            </div>
            <a style="letter-spacing: 3px" id="random-nav" href="/random"><span style="color: rgb(174, 0, 255, .6); font-family: 'Henry Penny'">R</span><span style="color: rgb(0, 85, 255, .8); font-family: 'Rubik Glitch'">A</span><span style="color:rgb(255, 0, 0, .8); font-family: 'Cinzel Decorative'">N</span><span style="color: rgb(68, 253, 96); font-family: 'Rock 3D'">D</span><span style="color:rgb(247, 253, 68, .8); font-family: 'Stardos Stencil'">O</span><span style="color: orange; font-family: 'Emilys Candy'">M</span></a>
          </div>
        </div>
        </div>
    </div>
    <div class="nav-right">
      <li id="logout" class="nav-item">
        <a href="/">logout</a>
      </li>
      {% if userRatings|length < 2 %}
      <div class="user-nav">
<img src={{user.avatar}} alt="">     
 </div>
 {% endif %}
 {% if userRatings|length > 1 %}
      <div class="user-nav">
<a href="/ratings/{{user.id}}"><img src={{user.avatar}} alt=""></a>     
 </div>
 {% endif %}
  </nav>

  
  <section aria-label="Newest Photos">
    <div class="carousel" data-carousel>
        <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
        <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
      <ul data-slides>
         <li class="slide" data-active>
          <a href="years/1960">
        <img style="height: 90%; width: 100%; object-fit: fill;
        object-position: center;
        display: block;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        border-radius: 20px;" src="https://clickamericana.com/wp-content/uploads/Trendy-vintage-1960s-sweaters.jpg" alt="nature image #2" /></a>
        <h1 class="year-on-years">1960s</h1>
         </li>
         <li class="slide">
          <a href="years/1970">
        <img style="height: 90%; width: 100%; object-fit: fill;
        object-position: center;
        display: block;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        border-radius: 20px;" src="https://www.nokillmag.com/wp-content/uploads/2021/07/70s-fashion-vintage-thumbnail-1280x720.jpg" alt="nature image #3"/></a>
        <h1 class="year-on-years">1970s</h1>
         </li>
         <li class="slide">
          <a href="years/1980">
          <img style="height: 90%; width: 100%; object-fit: fill;
          object-position: center;
          display: block;
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
          border-radius: 20px;" src="https://lyriquediscorde.files.wordpress.com/2020/03/the-cure-header.jpg?w=1514&h=1001&crop=1" alt="nature image #3"/></a>
          <h1 class="year-on-years">1980s</h1>
           </li>
           <li class="slide">
            <a href="years/1990">
            <img style="height: 90%; width: 100%; object-fit: fill;
            object-position: center;
            display: block;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
            border-radius: 20px;" src="https://www.familyeducation.com/sites/default/files/2019-01/90s-trends-teens-are-bringing-back_feature.jpg" alt="nature image #3"/></a>
            <h1 class="year-on-years">1990s</h1>
             </li>
                 <li class="slide">
                  <a href="years/2000"><img style="height: 90%; width: 100%; object-fit: fill;
                    object-position: center;
                    display: block;
                    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
                    border-radius: 20px;" src="https://cdn.mos.cms.futurecdn.net/yS3LnzHbjpVuyHyDVTpavD.png" alt="nature image #1" /></a>
                  <h1 class="year-on-years">2000s</h1>
                   </li>
                 <li class="slide">
                  <a href="years/2010">
                  <img style="height: 90%; width: 100%; object-fit: fill;
                  object-position: center;
                  display: block;
                  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
                  border-radius: 20px;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-best-songs-of-2010s-index2-1577739858.jpg" alt="nature image #3"/></a>
                  <h1 class="year-on-years">2010s</h1>
                   </li>
      </ul>
      </div>
      </div>
    </div>
</section>

    <!-- <div class="gallery-container">
      <a href="/years/2000"><img class="gallery-item gallery-item-3" src="https://cdn.mos.cms.futurecdn.net/yS3LnzHbjpVuyHyDVTpavD-768-80.png" data-index="3"></a>
      <h2>2000s</h2>
    </div> -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="/static/js.js"></script>
  <script src="/static/carousel.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>