* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
  height: 100%;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: #ac8bf3ba;
}

body {
    font-family: 'Antic';
    background: rgb(170,170,170);
    background: linear-gradient(90deg, rgba(170,170,170,1) 0%, rgba(23,23,209,1) 35%, rgba(108,84,226,1) 74%);
}

#all {
    font-family: 'Noto Sans';
}

.year {
    color: white;
    padding: 10px 40px 0px 40px;
    font-size: 100px;
    text-shadow: 9px 5px black;
    margin-bottom: -80px;
}

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

/* Login */

#login-page h1 {
    font-family: 'Libre Barcode 39 Text';
    font-size: 70px;
    width: 200px;
    margin-bottom: 30px;
}

#login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    color: white;
}

    #login-form-container a {
        color: white;
    }   

    #login-form-container input {
        width: 300px;
    }

#login-btn {
    margin-top: 10px;
}

#sign-up-btn {
    margin-top: 20px;
    width: 130px;
}

/* Registration */

#registration-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#registration-form input {
    width: 600px;
}

#registration-form-container h2 {
    font-size: 70px;
    margin-bottom: 50px;
}

#login-btn {
    margin-left: 85px;
    width: 130px;
}

/* Nav */

#nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    color: white;
    align-items: center;
  }

    #nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    #nav ul li a {
        text-decoration: none;
        color: white;
    }

/* User prof on dashboard */

.user-prof {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    grid-column: 1;
    grid-row: 1 / 5;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 5px 5px 1px grey;
    font-family: 'Noto Sans';
}

#reviews-dashboard {
    grid-column: 2;
    margin-bottom: 40px;
    position: relative;
    bottom: 2px;
}

#user-reviews-dashboard {
    grid-column: 2;
    margin-bottom: 40px;
    position: relative;
    top: 0%;
}

.user-prof-img {
    height: 200px;
    width: 200px;
    border-radius: 40px;
    position: relative;
    left: 8%;
}

#user-prof-img {
    border-radius: 20px;
}

.user-prof label {
    margin-top: 10px;
    width: 200px
}

.user-prof button {
    margin: 10px 0px 10px 0px;
}

.user-prof a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    background: rgb(0,11,153);
    background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%); 
    text-align: center;
}

.user-prof #side-prof-ratingsnreviews {
    display: flex;
    flex-direction: column;
    gap: 10px
}

#prof-reviews {
    position: relative;
    right: 10%;
    width: 207px;
}


#accordion {
    width: 220px;
    height: 240px;
}

#accordion-stuff {
    text-align: left;
}

#accordion-stuff:hover {
    text-decoration: none;
}

#user-prof-submit {
    margin-bottom: 20px;
}

/* Dashboard utlity */

#all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

#left {
    width: 200px;
}

#reviews {
    flex: 50%;
    grid-column: 2;
    position: relative;
    bottom: 3.2%;
}

#other-albums-to-review {
    grid-column: 3;
}

#other-albums-container {
    background: white;
    width: 80%;
    height: 200px;
    position: relative;
    left: 13%;
    top: 1%;
    margin-bottom: 2em;
    border-radius: 10px;
}

#genre {
    background: white;
    width: 80%;
    height: 200px;
    position: relative;
    left: 13%;
    top: 1%;
    margin-bottom: 2em;
    border-radius: 10px;
}

#all-2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

#individual-song-synthpop {
  display: flex;
  height: 200px;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: rgb(8,9,13);
  background: linear-gradient(129deg, rgba(8,9,13,1) 0%, rgba(217,217,217,1) 0%, rgba(174,174,244,1) 0%, rgba(212,211,221,1) 20%, rgba(144,148,217,1) 48%, rgba(177,181,207,1) 66%, rgba(157,153,193,1) 100%) fixed;  
  color: white;
  padding-right: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px grey;
}

#individual-song-synthpop h5 {
  font-size: 40px;
}

#individual-song-synthpop img {
  height: 200px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}

#individual-song-replay2018 {
  display: flex;
  height: 200px;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: rgb(132,215,231);
  background: linear-gradient(120deg, rgba(132,215,231,1) 3%, rgba(61,80,196,1) 22%, rgba(215,116,75,1) 38%, rgba(58,23,136,1) 57%, rgba(246,243,236,1) 78%) fixed;
  color: white;
  padding-right: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px grey;
}

#individual-song-replay2018 h5 {
  font-size: 40px;
}

#individual-song-replay2018 img {
  height: 200px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}

#individual-song-sophisti-pop {
  display: flex;
  height: 200px;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: rgb(239,219,199);
background: linear-gradient(190deg, rgba(239,219,199,1) 5%, rgba(152,132,113,1) 100%) fixed;
  color: white;
  padding-right: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px grey;
}

#individual-song-dancerock h5 {
  font-size: 40px;
}

#individual-song-dancerock img {
  height: 200px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}

#individual-song-dancerock {
  display: flex;
  height: 200px;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: rgb(168,4,148);
  background: linear-gradient(200deg, rgba(168,4,148,1) 5%, rgba(32,7,172,1) 17%, rgba(195,46,196,1) 43%, rgba(250,45,45,1) 78%, rgba(255,0,146,1) 100%) fixed;  
  color: white;
  padding-right: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px grey;
}


#individual-song-sophisti-pop h5 {
  font-size: 40px;
}

#individual-song-sophisti-pop img {
  height: 200px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}

#individual-song-electro {
  display: flex;
  height: 200px;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: rgb(243,255,123);
  background: linear-gradient(151deg, rgba(243,255,123,1) 20%, rgba(152,156,255,1) 80%) fixed;
  color: white;
  padding-right: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px grey;
}

#individual-song-altemo h5 {
  font-size: 40px;
}

#individual-song-altemo img {
  height: 200px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}

#individual-song-altemo {
  display: flex;
  height: 200px;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: rgb(86,102,49);
  background: linear-gradient(20deg, rgba(86,102,49,1) 0%, rgba(255,212,126,1) 36%, rgba(181,141,52,1) 63%, rgba(15,34,13,1) 72%, rgba(13,29,8,1) 100%) fixed; 
  color: white;
  padding-right: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px grey;
}

#individual-song-freestyle {
  display: flex;
  height: 200px;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: rgb(0,255,235);
  background: linear-gradient(79deg, rgba(0,255,235,1) 5%, rgba(240,0,255,1) 100%) fixed;
  color: white;
  padding-right: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px grey;
}

#individual-song-freestyle h5 {
  font-size: 40px;
}

#individual-song-freestyle img {
  height: 200px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}

#individual-song-newromantic h5 {
  font-size: 40px;
}

#individual-song-newromantic img {
  height: 200px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}

#individual-song-newromantic {
  display: flex;
  height: 200px;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: rgb(168,142,145);
  background: linear-gradient(3deg, rgba(168,142,145,1) 5%, rgba(217,224,211,1) 33%, rgba(223,186,190,1) 63%, rgba(219,219,219,1) 78%, rgba(239,227,183,1) 100%) fixed; 
  color: white;
  padding-right: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px grey;
}

#individual-song-poppunk h5 {
  font-size: 40px;
}

#individual-song-poppunk img {
  height: 200px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}

#individual-song-poppunk {
  display: flex;
  height: 200px;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: rgb(65,181,255);
  background: linear-gradient(190deg, rgba(65,181,255,1) 20%, rgba(176,18,13,1) 32%, rgba(226,216,146,1) 70%, rgba(255,255,255,1) 76%) fixed;
  color: white;
  padding-right: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px grey;
}

#individual-song-electro h5 {
  font-size: 40px;
}

#individual-song-electro img {
  height: 200px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}

#songs-container {
  grid-column: 1 / 8;
  grid-row:3;
  margin-top: -50px;
  margin-left: 50px;
  margin-right: 50px;
}

#individual-song-rightside {
  display: flex;
  justify-content: space-around;
  gap: 200px;
  align-items: center;
}

#sos_name {
  width: 1300px;
}

#sos_track {
  width: 400px;
  display: flex;
  align-items: center;
}

#sos_artist {
  width: 269px;
  position: relative;
  right: 110px;
  height: 100%;
  display: flex;
  align-items: center;
}

#sos_pop {
  width:100px;
  position: relative;
  right: 100px;
  height: 200px;
  display: flex;
  align-items: center;
}

#electrobody {
  background: rgb(243,255,123);
  background: linear-gradient(328deg, rgba(243,255,123,1) 20%, rgba(152,156,255,1) 80%) fixed;
}

#synthpopbody {
  background: rgb(156,160,213);
  background: linear-gradient(135deg, rgba(156,160,213,1) 25%, rgba(211,210,221,1) 80%) fixed;
}

#altemobody {
  background: rgb(86,102,49);
  background: linear-gradient(218deg, rgba(86,102,49,1) 0%, rgba(255,212,126,1) 36%, rgba(181,141,52,1) 63%, rgba(15,34,13,1) 72%, rgba(13,29,8,1) 100%) fixed; 
}

#sophistibody {
  background: rgb(207,187,168);
background: linear-gradient(350deg, rgba(207,187,168,1) 5%, rgba(247,245,239,1) 33%, rgba(207,187,168,1) 100%) fixed;
}

#dancerockbody {
  background: rgb(168,4,148);
  background: linear-gradient(79deg, rgba(168,4,148,1) 5%, rgba(32,7,172,1) 17%, rgba(195,46,196,1) 43%, rgba(250,45,45,1) 78%, rgba(255,0,146,1) 100%) fixed;
}

#freestylebody {
  background: rgb(0,255,235);
  background: linear-gradient(130deg, rgba(0,255,235,1) 5%, rgba(240,0,255,1) 100%) fixed;
}

#replay2018body {
  background: rgb(132,215,231);
  background: linear-gradient(973deg, rgba(132,215,231,1) 3%, rgba(61,80,196,1) 22%, rgba(215,116,75,1) 38%, rgba(58,23,136,1) 57%, rgba(246,243,236,1) 78%) fixed;
}

/* Review */

#container{
	box-shadow: 0 5px 15px 1px grey;
    background: rgb(0,11,153);
    background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(171,171,212,1) 0%, rgba(108,84,226,1) 85%);    
    text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 auto;
    position: relative;
    top: 30px;
    left: 3%;
	height: 400px;
	width: 900px;
    word-wrap: break-word;
    overflow: auto;
    white-space: wrap;
    grid-column: 2;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Noto Sans';
}

#container h6 a {
    color:#e6e6e6
}


.information {
    margin-top: 40px;
    width: 435px;
    height: 80px;
    display: -webkit-box;
     overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
    overflow: hidden;

}

.review-card-album-title-og {
    display: flex;
    flex-direction: column;
    height: 100px;
    color: white;
}

.review-card-album-title-ha {
    display: flex;
    flex-direction: column;
    height: 140px;
    color: white;
}

.review-card-album-title-ha2 {
  display: flex;
  flex-direction: column;
  height: 135px;
  color: white;
}

.review-card-album-title {
  display: flex;
  flex-direction: column;
  height: 130px;
  color: white;
}

.review-card-album-title-1 {
    display: flex;
    flex-direction: column;
    height: 130px;
    color: white;
}

.review-card-album-title-2 {
    display: flex;
    flex-direction: column;
    height: 170px;
    color: white;
}

.review-card-album-title-3 {
    display: flex;
    flex-direction: column;
    height: 200px;
    color: white;
}

.review-card-album-title-4 {
    display: flex;
    flex-direction: column;
    height: 240px;
    color: white;
}

.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 55%;
    word-wrap: break-word;
    overflow: hidden;
}

#container .product-details h1{
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin-bottom: 2px;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}

.hint-star {
	display: inline-block;
	color: gold;
	width: 50%;
    position: relative;
    top: 50px;
}


#container .product-details > p {
font-family: 'EB Garamond', serif;
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	
}
.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}
.btn {

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #809fff;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 5px;
	margin: 0;
	
}

.btn-link {
    border: none;
}

.btn-link:focus {
    border: none;
    text-decoration: none;
}

.btn:hover{transform: translateY(-6px);
	background: #1a66ff;}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}


.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
    cursor:pointer;
    cursor: pointer;
    font-family: 'Noto Sans'
}

#container img {width: 100%;height: 100%; cursor: pointer;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Noto Sans';
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 30px;
}
 
 
 text {
   font-family: 'Noto Sans';
   letter-spacing: 10px;
   stroke: #ffa5d8;
   font-size: 75px;
   font-weight: 700;
   stroke-width: 3;

   animation: textAnimate 5s infinite alternate;
   
 }
 
 @keyframes textAnimate {
   0% {
     stroke-dasharray: 0 50%;
     stroke-dashoffset:  20%;
     fill:hsl(189, 68%, 75%)
 
   }
   
   100% {
     stroke-dasharray: 50% 0;
     stroke-dashoffstet: -20%;
     fill: hsla(189, 68%, 75%,0%)
   }
 } 


.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-in-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

iframe{
    display: none;
  }

/* Other albums card */

#other-albums-to-review {
    margin-top: 290px;
}

.other-albums-image {
    width: 60%;
    height: 100%;
    object-fit:cover;
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }
  .container {
    max-width:600px;
    max-height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    flex-direction: column;
    margin-top: 10%;
  }
  .container:hover img {
    opacity:0.3;
  }
  .container img:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
  }

  .side-container {
    max-width:600px;
    max-height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    flex-direction: column;
    margin-top: 10%;
    position: relative;
    top: 70px;
    margin-left: 50%;
    -webkit-box-reflect:below -42px linear-gradient(transparent, transparent, #0004);

  }
  .side-container:hover img {
    opacity:0.3;
  }
  .side-container img:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
  }

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 40px;
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 100px;
}

#left #container {
    grid-column: 2
}

.albums-card {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transform-origin:center;
    transform:perspective(800px) rotateY(17deg);
    transition:0.5s;
    -webkit-box-reflect:below -1px linear-gradient(transparent, transparent, #0004);
    color: white;
    font-family: 'Noto Sans';
}


.albums-card h5 {
    margin-top: 10px;
    text-shadow: 5px 5px 5px black;
}

.albums-card h6 {
    text-shadow: 5px 5px 5px black;
}

.albums-card img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
}

.albums-card img:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
}

.other-albums-container {
    max-width:600px;
    max-height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 20%;
}

.other-albums-container2 {
    max-width:600px;
    max-height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    flex-direction: column;
    margin-top: 16%;
    margin-bottom: 20%;
    position: relative;
    right: 15%;
}

.other-albums-container2 img {
    object-fit: contain;
}

/* Individual album page */

.albums-card-2 {
    width: 100%;
    height: 90%;
    object-fit:cover;
    transform-origin:center;
    transform:perspective(800px) rotateY(17deg);
    transition:0.5s;
    -webkit-box-reflect:below 0 linear-gradient(transparent, transparent, #0004);
    color: white;
    margin-bottom: -30px;
    margin-left: 40px;
    margin-top: 80px;
    padding: 20px 20px 0px 20px;
}

.albums-card-2 img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
}
.albums-card-2 img:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 270px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #card #submit-btn {
    position: relative;
    top: -40%;
    right:47%;
    border-radius: 10%;
    padding: 5px;
    background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
    color: white;
    box-shadow: 5px 5px 5px gray;
}

  #card1 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 295px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #mydata1 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 430px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #mydata1 h2 {
    position: relative;
    top: 20px;
  }

  #mydata1 h3 {
    position: relative;
    top: 20px;
  }

  #card2 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 310px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #mydata2 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 410px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #mydata1 form {
    position: relative;
    top: 11em;
    right: .3em;
  }

  #mydata1 i {
      font-size: 40px;
      position: relative;
      bottom: 30px;
      left: 10px;
  }

  #mydata1 #submit-btn {
    position: relative;
    right:42%;
    top: 20%;
    border-radius: 10%;
    padding: 5px;
    background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
    color: white;
    box-shadow: 5px 5px 5px gray;
  }

  #mydata2 form {
    position: relative;
    top: 12em;
    right: .3em;
  }

  #mydata2 i {
      font-size: 40px;
      position: relative;
      bottom: 30px;
      left: 10px;
  }

  #mydata2 #submit-btn {
    position: relative;
    right:42%;
    top: 12%;
    border-radius: 10%;
    padding: 5px;
    background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
    color: white;
    box-shadow: 5px 5px 5px gray;
  }

  

  #card3 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 230px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #mydata3 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 230px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #card4 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 100px;
    height: 260px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #mydata_ {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 100px;
    height: 440px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #mydata_ form {
    position: relative;
    top: 12em;
    right: .3em;
  }

  #mydata_ i {
      font-size: 40px;
      position: relative;
      bottom: 30px;
      left: 10px;
  }

  #mydata_ #submit-btn {
    position: relative;
    right:42%;
    top: 18%;
    border-radius: 10%;
    padding: 5px;
    background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
    color: white;
    box-shadow: 5px 5px 5px gray;
  }

  #mydata4 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 100px;
    height:380px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #mydata4 form {
    position: relative;
    top: 8.7em;
    right: .3em;
  }

  #mydata4 h2 {
    position: relative;
    top: 10px;
  }

  #mydata4 h3 {
    position: relative;
    top: 10px;
  }

  #mydata4 i {
      font-size: 40px;
      position: relative;
      bottom: 30px;
      left: 10px;
  }

  #mydata_ .card__exit {
    position: relative;
    left: 410px;
    bottom: 110px;
  }

  #mydata1 .card__exit {
    position: relative;
    left: 410px;
    bottom: 145px;
  }

  #mydata2 .card__exit {
    position: relative;
    left: 410px;
    bottom: 110px;
  }

  #mydata3 .card__exit {
    position: relative;
    left: 410px;
    bottom: 110px;
  }

  #mydata4 .card__exit {
    position: relative;
    left: 410px;
    bottom: 110px;
  }

  #mydata4 #submit-btn {
    position: relative;
    right:42%;
    top: 18%;
    border-radius: 10%;
    padding: 5px;
    background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
    color: white;
    box-shadow: 5px 5px 5px gray;
  }

  #card4 form {
    position: relative;
    top: 4.7em;
    right: .5em;
  }

  #card4 #rating {
      position: relative;
      top: 7em;
  }

  #card1 form {
    position: relative;
    right: .5em;
    top: 9.2em
  }

  #card2 form {
    position: relative;
    top: 9.7em;
    right: .5em
  }

  #card4 form {
    position: relative;
    top: 3em;
    right: .4em
  }

  #card-longer-1line {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 290px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #card-longer-1line #rating {
    position: relative;
    bottom: 100px;
  }

  #card-longer-1line #submit-btn {
    position: relative;
    top: 19px;
right: 210px;
height: 40px;
width: 80px;
border-radius: 10%;
padding: 5px;
background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
color: white;
box-shadow: 5px 5px 5px gray;
}

  #card-longer-2line {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 340px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #card-longer-2line #submit-btn {
    position: relative;
bottom: 5px;
right: 210px;
height: 40px;
width: 80px;
border-radius: 10%;
padding: 5px;
background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
color: white;
box-shadow: 5px 5px 5px gray;
}

#card-longer-2line fieldset {
    position: relative;
    bottom: 25px;
}

  #card-longer-3line {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 390px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #card-longer-3line #submit-btn {
    position: relative;
bottom: 40px;
right: 210px;
height: 40px;
width: 80px;
border-radius: 10%;
padding: 5px;
background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
color: white;
box-shadow: 5px 5px 5px gray;
}

#card-longer-3line fieldset {
  position: relative;
  bottom: 70px;

}

  #card-longer-4line {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 340px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #card-longer-4line #submit-btn {
    position: relative;
top: 70px;
right: 210px;
height: 40px;
width: 80px;
border-radius: 10%;
padding: 5px;
background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
color: white;
box-shadow: 5px 5px 5px gray;
}


#fav-artist-album-1 {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 220px;
  height:300px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  color: rgb(66, 66, 66);
  position: relative;
  top: 10%;
  left: 10%;
}

#fav-artist-album-1 fieldset {
  position: relative;
  bottom: 30px;
  right: 7px
}

#fav-artist-album-1 #submit-btn {
  position: relative;
  bottom: 10px;
right: 187px;
height: 40px;
width: 80px;
border-radius: 10%;
padding: 5px;
background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
color: white;
box-shadow: 5px 5px 5px gray;
}

#fav-artist-album {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 220px;
  height: 270px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  color: rgb(66, 66, 66);
  position: relative;
  top: 10%;
  left: 10%;
}

#fav-artist-album fieldset {
  position: relative;
  bottom: 60px;
}

#fav-artist-album #submit-btn {
  position: relative;
  bottom: 40px;
right: 182px;
height: 40px;
width: 80px;
border-radius: 10%;
padding: 5px;
background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
color: white;
box-shadow: 5px 5px 5px gray;
}

#already-rated {
        margin: 20px;
        padding: 20px;
        width: 500px;
        min-height: 200px;
        height: 298px;
        display: grid;
        grid-template-rows: 20px 50px 1fr 50px;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
        color: rgb(66, 66, 66);
        position: relative;
        top: 10%;
        left: 10%;
}

#already-rated form {
    position: relative;
    top: 140px;
    right: 8px;
}

#already-rated button {
    position: relative;
    top: 70px;
    right: 210px;
    height: 40px;
    width: 80px;
    border-radius: 10%;
    padding: 5px;
    background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
    color: white;
    box-shadow: 5px 5px 5px gray;
}

#already-rated-1 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 330px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
}

#already-rated-1 form {
position: relative;
top: 190px;
right: 8px;
}

#already-rated-1 button {
position: relative;
top: 70px;
right: 210px;
height: 40px;
width: 80px;
border-radius: 10%;
padding: 5px;
background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
color: white;
box-shadow: 5px 5px 5px gray;
}

#already-rated-2 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 350px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
}

#already-rated-2 form {
position: relative;
top: 230px;
right: 8px;
}

#already-rated-2 button {
position: relative;
top: 70px;
right: 210px;
height: 40px;
width: 80px;
border-radius: 10%;
padding: 5px;
background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
color: white;
box-shadow: 5px 5px 5px gray;
}
  #artist-card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 120px;
    height: 140px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 40%;
    right: 5%;
}

#already-rated-3 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 320px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
}

#already-rated-3 form {
position: relative;
top: 140px;
right: 8px;
}

#already-rated-3 button {
position: relative;
top: 70px;
right: 210px;
height: 40px;
width: 80px;
border-radius: 10%;
padding: 5px;
background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
color: white;
box-shadow: 5px 5px 5px gray;
}

#artist-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

#artist-card a {
    color: rgb(66, 66, 66);
}

#artist-card-41 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 150px;
    height: 170px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 40%;
    right: 5%;
}


#artist-card-longer {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 240px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 40%;
    right: 5%;
}

#artist-card-longer3 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 150px;
    height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 40%;
    right: 5%;
}

#artist-card-longer4 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 100px;
    height: 150px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 40%;
    right: 5%;
}

  #card-longer-1line form {
    position: relative;
    top: 5em;
    right: .4em
}

  #card-longer-2line form {
        position: relative;
        top: 9.7em;
        right: .4em

  }

  #card-longer-3line form {
    position: relative;
    top: 14.7em;
    right: .4em

}

#card-longer-4line form {
    position: relative;
    top: 11.3em;
    right: .4em

}

#artist-card-longer3 form {
    position: relative;
    top: 6.7em;
    right: .4em

}
  
  #card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: blue;
  }

  .card__exit a {
      color: #ac8bf3ba;
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
  }
  
  .card__title h2 {
    grid-row: 3/4;
    font-weight: 400;
  }

  #favartist-title {
      font-size: 40px;
  }

  #favartist-name {
      font-size: 30px;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }

  #card a {
      color: #ac8bf3ba;
  }

  #card fieldset {
      position: relative;
      bottom:60%;
      right: 1%
  }

  #yearly-card-htags {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      font-family: 'Noto Sans';
  }

  #yearly-card-p {
    margin-top: 20px;
}

#content {
  height: 300px;
}



/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}

/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: gold;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: gold;  } 



/* Ratings widget */
.rate2 {
    display: inline-block;
    border: 0;
    position: relative;
    left: 6px;
    top: 20px
}
/* Hide radio */
.rate2 > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate2 > label {
    float: right;
}
/* The star of the show */
.rate2 > label:before {
    display: inline-block;
    font-size:2.3rem;
    padding: .3rem .14rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate2 .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}

/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: gold;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: gold;  } 


#rating {
    position: relative;
    top: 8em;
    height: 100px;
}

#my-rating {
    position: relative;
    top: 7.7em;
    background: rgb(240, 240, 240);
    height: 60px;
    border-radius:  15px;
    width: 203px;
}

#my-rating .my-rating-tag {
    position: relative;
    bottom: 30px;
}

.mydata {
    height: 295px;
    font-family: 'Noto Sans';
}

.card-1 {
    height: 150px;
}

/* Ratings widget */
.my-rate {
    display: flex;
    border: 0;
    gap: 6px;
    position: relative;
    left: .9%;
    bottom: 55%;
}

.my-rating-tag {
    position: relative;
    bottom: 38%;
    left: 1.7%;
}

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: gold;  } 

#rating {
    position: relative;
    top: 7.7em;
}

.mydata {
    height: 290px;
}

#genresbody {
  background: rgb(8,9,13);
background: linear-gradient(90deg, rgba(8,9,13,1) 0%, rgba(217,217,217,1) 0%, rgba(174,239,244,1) 0%, rgba(144,217,172,1) 33%, rgba(146,189,215,1) 55%, rgba(185,153,193,1) 87%);
}

#altemo {
  background: rgb(86,102,49);
background: linear-gradient(218deg, rgba(86,102,49,1) 0%, rgba(255,212,126,1) 36%, rgba(181,141,52,1) 63%, rgba(15,34,13,1) 72%, rgba(13,29,8,1) 100%) fixed; 
}

#glitchcorebody {
  background: rgb(8,9,13);
background: linear-gradient(270deg, rgba(8,9,13,1) 0%, rgba(217,217,217,1) 0%, rgba(162,162,162,1) 0%, rgba(0,0,0,1) 33%, rgba(255,255,255,1) 64%, rgba(176,176,176,1) 70%, rgba(0,0,0,1) 98%);
}

#pluggbody {
  background: rgb(241,241,241);
background: linear-gradient(18deg, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 1%, rgba(0,0,0,1) 63%, rgba(213,50,45,1) 82%, rgba(30,43,49,1) 84%) fixed;
}

#mathrock {
  background: rgb(185,125,72);
background: linear-gradient(302deg, rgba(185,125,72,1) 0%, rgba(10,81,99,1) 36%, rgba(181,141,52,1) 63%, rgba(71,33,51,1) 74%, rgba(30,43,49,1) 84%) fixed;
}

#vaporbody {
  background: rgb(189,109,193);
background: linear-gradient(220deg, rgba(189,109,193,1) 13%, rgba(77,84,215,1) 24%, rgba(199,112,197,1) 37%, rgba(62,39,210,1) 100%) fixed;
}

#poppunkbody {
  background: rgb(65,181,255);
background: linear-gradient(34deg, rgba(65,181,255,1) 20%, rgba(176,18,13,1) 32%, rgba(226,216,146,1) 70%, rgba(255,255,255,1) 76%) fixed;
}

#indierockbody {
  background: rgb(80,137,173);
background: linear-gradient(63deg, rgba(80,137,173,1) 20%, rgba(167,142,160,1) 32%, rgba(226,216,146,1) 70%, rgba(231,199,150,1) 76%) fixed;
}

#midwestemobody {
  background: rgb(0,0,0);
background: linear-gradient(143deg, rgba(0,0,0,1) 20%, rgba(0,68,23,1) 80%) fixed;
}

#newromanticbody {
  background: rgb(168,142,145);
  background: linear-gradient(79deg, rgba(168,142,145,1) 5%, rgba(217,224,211,1) 33%, rgba(223,186,190,1) 63%, rgba(219,219,219,1) 78%, rgba(239,227,183,1) 100%);
}

#delete-rating-btn {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  opacity: .8;
  top: 280px;
  right: 10px;
  font-size: 17px;
  opacity: .5
}


/* Ratings widget */
.my-rate {
    display: flex;
    border: 0;
    gap: 6px;
    position: relative;
    left: .9%;
    bottom: 55%;
}

.my-rating-tag {
    position: relative;
    bottom: 40%;
    left: 1.7%;
    font-weight: bold;
    margin-bottom: 20px;
}over */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: gold;  } 

#rating {
    position: relative;
    top: 7.7em;
}

.mydata {
    height: 290px;
}

/* Ratings widget */
.my-rate {
    display: flex;
    border: 0;
    gap: 6px;
    position: relative;
    left: .9%;
    bottom: 55%;
}

.my-rating-tag {
    position: relative;
    bottom: 40%;
    left: 1.7%;
}



/* Artist page */

.albums-card-favs {
  width: 80%;
  height: 100%;
  object-fit:cover;
  transform-origin:center;
  transform:perspective(800px) rotateY(17deg);
  transition:0.5s;
  -webkit-box-reflect:below 0 linear-gradient(transparent, transparent, #0004);
  color: white;
  margin-left: 40px;
  padding: 20px 0px 0px;
}
.albums-card-favs img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.albums-card-favs img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}


.artist-albums-wrap {
    max-width:600px;
    max-height:350px;
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top: 50%;
    grid-column: 2 / 3;
}

#artist-card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 150px;
    height: 150px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 40%;
    right: 5%;
}

#artist-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

#artist-card a {
    color: #ac8bf3ba;
}

#fav-artist-album-your-rating {
    position: relative;
    top: 2.7em;
}

#artist-name {
    font-size: 90px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    margin-left: 10px;
    transform-origin:center;
    transform:perspective(800px) rotateY(17deg);
    transition:0.5s;
    width: 170%;
    margin-bottom: 70px;
    margin-left: 50px;
    left: 7%;
    position: relative;
    font-family: 'Marcellus';
    text-shadow: 3px 5px black;
}

#fav-artist-page-picnhead {
    display: flex;
    flex-direction: column;
}

#artist-name:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
}

#me-n-ryan-cards {
    margin: 20px;
    padding: 20px;
    width: 100%;
    min-height: 100px;
    height: 120px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }

  #people-to-message {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 20px;
    left: 20px;
    width: 290px;
  }

  #message-this-person {
    display: flex;
    height: 100px;
    align-items: center;
    gap: 50px;
    background: white;
    border-radius: 5px;
    width: 290px;
    margin-bottom: 10px;
    color: black;
  }

  #message-this-person img {
    height: 100px;
    width: 100px;
    border-radius: 5px 0px 0px 5px;
  }

  #messages-tag {
    margin-left: 20px;
    margin-top: 40px;
    color: white;
  }

  #message-this-person a {
    color: black;
    font-size: 20px;
    position: relative;
    right: 10%;
  }

  .right-side-msg {
    display: flex;
    justify-content: space-around;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

#review-btn {
    position: relative;
    top: 22%;
    left: 67%;
    border-radius: 10%;
    padding: 5px;
    background: linear-gradient(90deg, rgba(0,11,153,1) 0%, rgba(56,56,154,1) 35%, rgba(108,84,226,1) 74%);
    color: white;
    box-shadow: 5px 5px 5px gray;
    height: 40px;
    width: 150px;
}

#textbox { 
  margin-top: 20px;
  height: 100%;
  margin-bottom: 20px;
}

#write-a-review {
  position: relative;
  left: 110%;
  bottom: 310%;
  display: none;
  width: 90%;
  border: 20px solid tan;
  border-radius: 10px;
  padding: 5px;
}

#review-content {
  position: relative;
  top: 40%;
}

/* Top tracks */

.top-tracks {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    padding: 0;
    grid-column: 1;
    grid-row: 2;
    position: relative;
    top: 190px;
    margin-left: 70px;
    width: 100%;
}

.top-tracks p {
    display: inline-block
}

.tracklist {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    width: 200px;
    margin-bottom: 50px;
}

#track a {
    color: black;
}

#track a:hover {
    color:rgb(159, 159, 159)
}

.top-tracks img {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    padding: 5px;
}

#track-container {
    display: flex;
    align-items: center;
}

.nav-right {
    color: black;
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
    align-items: center;
    justify-content: center;
}

#logout a {
    color: black;
    font-family: 'Libre Barcode 39 Text';
    font-size: 30px;

}

.nav-right ul {
    list-style: none;
    color: black;
    font-family: 'Libre Barcode 39 Text';
}

.nav-right img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    justify-content: center;
    font-family: 'Libre Barcode 39 Text';
}

.user-nav h4 {
    font-size: 40px;
}

/* Years */

.years-wrapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
    top:50px;
  }
  
  .twothou-years-card {
    grid-area: 1 / 1;
    height: 200px;
    width: 400px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(249, 198, 26, 0.88);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
    font-family: 'EB Garamond';
  }
  
  .twothou-years-card h1 {
    font-size: 60px;
    font-weight: 900;
  }
  
  .twothou-years-card .years-year {
    background: #000;
    line-height: 1;
    color: rgba(249, 198, 26, 1);
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
    font-family: 'EB Garamond';
    margin-right: 4px;
    font-size: 60px;
  }
  
  .years-wrapper:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
  }
  
  
  .years-wrapper:hover > div,
  .years-wrapper:hover:before {
    transform: none;
  }
  
  
  .years-wrapper > div,
  .years-wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  
  .years-body {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    position: relative;
    top:5em;
  }

/* 1980 */

.eighties-years-card {
    grid-area: 1 / 1;
    height: 200px;
    width: 400px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background-image: url('https://wallpaperaccess.com/full/3696142.jpg');
    background-size: cover ;
    font-family: 'Fredoka One';
    object-fit:fill;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  }
  
  .eighties-years-card h1 {
    font-size: 90px;
    font-weight: 900;
    color: rgb(227,30,136)
}
  
  .eighties-years-card .years-year {
    line-height: 1;
    color: #0E70B6;
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    font-size: 90px;
    transform-origin: right center;
  }

/* Sixties */

.sixties-years-card {
  grid-area: 1 / 1;
  height: 200px;
  width: 400px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background-image: url('https://i.pinimg.com/originals/98/30/d3/9830d32d61134d92b58955d2372ee971.jpg');
  background-size: cover ;
  font-family: 'Boogaloo';
  object-fit:fill;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

.sixties-years-card h1 {
  font-size: 90px;
  font-weight: 900;
  color: rgb(226, 237, 202)
}

.sixties-years-card .years-year {
  line-height: 1;
  color: #0eb0b6;
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  font-size: 90px;
  transform-origin: right center;
}

.seventies-years-card {
  grid-area: 1 / 1;
  height: 200px;
  width: 400px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background-image: url('https://www.atrafloor.com/app/uploads/2020/05/Swatch_orange-blue-wave-70s-retro-vinyl-flooring-scaled.jpg');
  background-size: cover ;
  font-family: 'Monoton';
  object-fit:fill;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

.seventies-years-card h1 {
  font-size: 90px;
  font-weight: 900;
  color: #d37a5a
}

.seventies-years-card .years-year {
  line-height: 1;
  color: #E4B33F;
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  font-size: 90px;
  transform-origin: right center;
}

.nineties-years-card {
  grid-area: 1 / 1;
  height: 200px;
  width: 400px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2017-04/14/21/campaign_images/buzzfeed-prod-fastlane-03/this-90s-pattern-quiz-will-determine-how-well-you-2-14359-1492219073-0_dblbig.jpg?resize=1200:*');
  background-size: cover ;
  font-family: 'Playfair Display';
  object-fit:fill;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

.nineties-years-card h1 {
  font-size: 90px;
  font-weight: 900;
  color: white
}

.nineties-years-card .years-year {
  line-height: 1;
  color: #FF6FAA;
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  font-size: 90px;
  transform-origin: right center;
}

.twentytens-years-card {
  grid-area: 1 / 1;
  height: 200px;
  width: 400px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background-image: url('https://www.psdgraphics.com/file/diamond-plate.jpg');
  background-size: cover ;
  font-family: 'Playfair Display';
  object-fit:fill;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

.twentytens-years-card h1 {
  font-size: 90px;
  font-weight: 900;
  color: #aca6c0;
  text-shadow: 2px 2px rgba(0,0,0,.5)
}

.twentytens-years-card .years-year {
  line-height: 1;
  color: #AEADB1;
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  font-size: 90px;
  transform-origin: right center;
}

#sideAlbums img {
    height: 190px;
    width: 100%;
}

#longer-than-24 {
    position: relative;
    top: 30px;
}

#artist-card-longer {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 240px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 40%;
    right: 5%;
}

#artist-card-longer2 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 210px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 40%;
    right: 5%;
}

#artist-card-longer2 #fav-artist-album-your-rating {
    position: relative;
    top: 6.7em;
}


/* Messages */

#messages-page {
    display: flex;
    justify-content: space-evenly;
}
  
  /* === CONVERSATIONS === */
  
  .discussions {

    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
    overflow: hidden;
    background-color: #87a3ec;
    padding: 20px;
    margin-top: 20px
  }
  
  .discussions .discussion {
    background-color: #FAFAFA;
    border-bottom: solid 1px #E0E0E0;
    display:flex;
    align-items: center;
    cursor: pointer;
    height: 100px;
    width: 70vw;
  }
  
  .discussions .discussion .photo {
      margin-left:20px;
      display: block;
      width: 45px;
      height: 45px;
      background: #E6E7ED;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .desc-contact {
    height: 43px;
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .discussions .discussion .name {
    margin: 0 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 11pt;
    color:#515151;
  }
  
  .discussions .discussion .message {
    margin: 6px 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 9pt;
    color:#515151;
  }

  .col-5 {
      width: 60vw;
      margin-top: 20px;
  }

  .message {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    height: 230px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    position: relative;
    top: 10%;
    left: 10%;
  }
  
  .message p {
      color: black;
      display: flex;
  }

  #message-card {
      display: flex;
      height: 100%;
      width: 100%;
      position: relative;
      left: 10%;
      margin-right: 600px;
  }

  .message-content {
      display: flex;
      gap: 20px;
      font-size: 30px;
  }

  .p-2 {
    width: 25vw;
    position: fixed;
    left: 74%;
    bottom: 530px;
  }

  .p-2 .btn {
    margin-top: 5px;
  }

  #message-cards {
    display: flex;
  }

  #artist-gallery-card {
      background-color:#ddc;
      border:solid 5vmin #eee;
      border-bottom-color:#fff;
      border-left-color:#eee;
      border-radius:2px;
      border-right-color:#eee;
      border-top-color:#ddd;
      box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
      padding:2vmin;
      position:relative;
      text-align:center;
    }

    .carousel-item img {
      height: 300px;
      margin-top: 5rem
    }

    #carouselExampleInterval {
      display: flex;
      justify-content: center;
    }

    #content-too-long {
      position: relative;
      width: 90%;
      right: 91%;
      height: 50px;
      top: 70%;
    }